/* Menu */

.hidden {
  /* display: none;*/
  /* transform: scale(0);*/
  transform: translateX(-100%);
  opacity: 0;
}
#menuknap {
  display: inline-block;
}
#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
  display: flex;
  justify-content: space-between;
}
li a {
  text-decoration: none;
  color: black;
  font-family: Courier new;
}

/* Forside */
* {
  box-sizing: border-box;
}

#section_one {
  place-items: center;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

#section_two .container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 2rem;
}
#section_one .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}

h2 {
  font-size: 2rem;
  color: white;
  background-color: black;
  padding: 1rem;
  letter-spacing: 0.5rem;
  font-family: Courier new;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  color: black;
  padding: 1rem;
  letter-spacing: 0.5rem;
  font-family: Courier new;
  text-align: center;
}

p {
  font-size: 1rem;
  color: black;
  padding: 1rem;
  font-family: Oswald;
}

.port_container {
  position: relative;
  top: -200vw;
  left: 0vw;
}

/* Work */
.box {
  position: relative;
  width: 100%;
  display: grid;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.text a {
  color: white;
  background-color: black;
  font-size: 20px;
  position: absolute;
  padding: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}

.text a:hover {
  text-decoration: underline;
}

/* 02_web */

.container_2 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.container_2 img {
  grid-column: 2/3;
}

.text_container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.text_container h3,
p {
  grid-column: 2/3;
}

.process {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media only screen and (min-width: 600px) {
  img {
    width: 100%;
    height: auto;
  }

  /* Menu */

  #menuknap {
    display: none;
  }
  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }
  #menu li {
    display: inline-block;
  }

  #menu {
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: space-between;
    padding-top: 2%;
    margin: 1%;
  }

  #section_one .container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
  }
  .port_container {
    position: relative;
    top: -29vw;
    left: 0vw;
  }

  /* work */

  #section_two .container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .text a {
    max-width: 400px;
    padding: 1rem;
    width: 60%;
    margin: 0% auto;
  }

  /* 02_web */

  .container_2 {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
  }

  .container_2 img {
    grid-column: 2/3;
  }

  .text_container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .text_container h3,
  p {
    grid-column: 2/3;
  }
  .process {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
