#section_one {
  place-items: center;
  height: 100%;
  margin: 5%;
}

#section_one img {
  width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

h2 {
  font-size: 2rem;
  color: white;
  background-color: black;
  padding: 1rem;
  letter-spacing: 0.5rem;
  font-family: Courier new;
  text-align: center;
}

.hidden {
  /* display: none;*/
  /* transform: scale(0);*/
  transform: translateX(-100%);
  opacity: 0;
}
#menuknap {
  display: inline-block;
}
#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
  display: flex;
  justify-content: space-between;
}
li a {
  text-decoration: none;
  color: black;
  font-family: Courier new;
}
@media only screen and (min-width: 600px) {
  .container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
  }

  #menuknap {
    display: none;
  }
  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }
  #menu li {
    display: inline-block;
  }

  #menu {
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: space-between;
    padding-top: 2%;
    margin: 1%;
  }
}
