/*Footer*/
#footer {
  position: sticky;
  display: flex;
  justify-content: space-between;
  font-family: Courier New;
  font-size: 1.02em;
  border: 1px solid black;
  padding: 1vw;
  text-align: center;
}

#footer a {
  text-decoration: none;
  color: black;
}
#footer a:hover {
  text-decoration-line: underline;
}

@media (min-width: 960px) {
}
